@font-face {
	font-family: 'DIN Pro';
	src: url('./../fonts/DINPro.eot');
	src: url('./../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
			url('./../fonts/DINPro.woff2') format('woff2'),
			url('./../fonts/DINPro.woff') format('woff'),
			url('./../fonts/DINPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./../fonts/DINPro-Bold.eot');
	src: url('./../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
			url('./../fonts/DINPro-Bold.woff2') format('woff2'),
			url('./../fonts/DINPro-Bold.woff') format('woff'),
			url('./../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


