$color-white: #ffffff;
$color-red: #f45556;
$color-green: #87b650;
$color-grey: #d3d1e4;
$color-ligh-grey: #e8e2f0;
$color-orange: #ffa367;
$color-blue: #0caeea;
$color-dark-grey: #aaaaaa;
$color-violet: #ababcb;